---
import Layout from "../../layouts/Layout.astro";
import type { GetStaticPaths } from "astro";
import { type CollectionEntry, getCollection } from "astro:content";
import {
  generateURL,
  getPostsByTag,
  getUniqueTags,
  encodeTag,
  decodeTag,
} from "../../utils";
import FormattedDate from "../../components/FormattedDate.astro";
import IconLink from "../../components/IconLink.astro";

export const getStaticPaths = (async () => {
  const posts = await getCollection("blog", post => !post.data.hide);
  const tags = getUniqueTags(posts);
  return tags.map(tag => {
    const postsByTag = getPostsByTag(posts, tag);
    return {
      params: { tag: encodeTag(tag) },
      props: { tag, posts: postsByTag },
    };
  });
}) satisfies GetStaticPaths;

type Props = {
  tag: string;
  posts: CollectionEntry<"blog">[];
};

const { tag, posts } = Astro.props;
---

<Layout>
  <span class="back-link">
    <IconLink name="Back" label="Back" extra="Go Back" back />
  </span>
  <h1>
    Tags: <span transition:name={`tag-${tag}`}>#{decodeTag(tag)}</span>
  </h1>
  <p>
    {posts.length} posts tagged with {decodeTag(tag)}.
  </p>
  <ul class="blog-posts">
    {
      posts.map(post => (
        <li>
          <span>
            <i>
              <FormattedDate date={post.data.pubDate} />
            </i>
          </span>
          <a
            href={generateURL(`/blog/${post.id}/`)}
            transition:name={`post-title-${post.id}`}
          >
            {post.data.title}
          </a>
        </li>
      ))
    }
  </ul>
</Layout>

<style>
  h1 {
    margin: 0;
  }
  .back-link {
    display: inline-block;
    margin: 12px 0 8px -6px;
  }
</style>
