---
import { COPYRIGHT, ICP_NUMBER, SOCIAL_LINKS } from "../consts";
import icons, { getSizedIcon } from "../assets/icons";
---

<footer>
  <small>
    Powered by <a href="https://github.com/ChurchTao/PlainPage" target="_blank"
      >PlainPage(素纸)</a
    >
  </small>
  <br />
  <small
    >{COPYRIGHT && `${COPYRIGHT}`}
    {COPYRIGHT && ICP_NUMBER && "｜"}
    {
      ICP_NUMBER && (
        <a href="https://beian.miit.gov.cn/" target="_blank">
          {ICP_NUMBER}
        </a>
      )
    }
  </small>
  <br />
  <div class="social-links" role="navigation" aria-label="social links">
    {
      Object.entries(SOCIAL_LINKS).map(([key, value]) => {
        if (!value) return null;
        return (
          <a
            href={value}
            rel="noopener noreferrer"
            target="_blank"
            aria-label={`Link to ${key}`}
            title={`Link to ${key}`}
          >
            <Fragment
              set:html={getSizedIcon(key as keyof typeof icons, 16.5)}
            />
          </a>
        );
      })
    }
  </div>
</footer>

<style>
  .social-links {
    margin-top: 6px;
    a {
      color: var(--text-color);
      text-decoration: none;
    }
    a:hover {
      color: var(--link-color);
    }
  }
</style>
