---
import icons from "../assets/icons";

const { name, href, label, target = "_self", extra, back } = Astro.props;
interface Props {
  name: string;
  href?: string | URL;
  label: string;
  target?: string;
  extra?: string;
  back?: boolean;
}

const svg = icons[name as keyof typeof icons];
const onclick = back
  ? "(() => (history.length === 1) ? window.location = '/' : history.back())()"
  : undefined;
---

<a
  href={back ? "javascript:void(0)" : href}
  title={label}
  aria-label={label}
  target={target}
  onclick={onclick}
>
  <Fragment set:html={svg} />
  {extra && <span>{extra}</span>}
</a>

<style>
  a {
    color: var(--text-color);
    display: flex;
  }
  a:hover {
    color: var(--link-color);
  }
  a > span {
    height: 24px;
    line-height: 24px;
  }
</style>
