---
import Layout from "./Layout.astro";
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import IconLink from "../components/IconLink.astro";
import Tags from "../components/Tags.astro";
import { generateURL } from "../utils";
import { BLOG_CONFIG } from "../consts";

type Props = CollectionEntry<"blog">["data"] & { id: string };

const { id, title, description, pubDate, updatedDate, heroImage, tags } =
  Astro.props;

const backLink = Astro.url.pathname.indexOf("/blog/") > -1;

const structuredData = {
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  headline: title,
  image: heroImage,
  datePublished: `${pubDate?.toISOString()}`,
  ...(updatedDate && { dateModified: updatedDate.toISOString() }),
  author: [
    {
      "@type": "Person",
      name: `${BLOG_CONFIG.authorName}`,
      url: `${BLOG_CONFIG.profile}`,
    },
  ],
};
---

<Layout
  title={title}
  description={description}
  heroImage={heroImage}
  structuredData={JSON.stringify(structuredData)}
>
  {
    backLink && (
      <span class="back-link">
        <IconLink
          name="Back"
          href={generateURL("/blog")}
          label="Back"
          extra="Go Back"
          back
        />
      </span>
    )
  }
  <article>
    <div class="hero-image">
      {heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
    </div>
    <div class="prose">
      <div class="title">
        <div class="date">
          <FormattedDate date={pubDate} />
          {
            updatedDate && (
              <div class="last-updated-on">
                Last updated on <FormattedDate date={updatedDate} />
              </div>
            )
          }
        </div>
        <h1>
          <span transition:name={`post-title-${id}`}>{title}</span>
        </h1>
        <hr />
      </div>
      <slot />
      <Tags tags={tags} />
    </div>
  </article>
</Layout>

<style>
  .back-link {
    display: inline-block;
    margin: 12px 0 8px -6px;
  }
</style>

<script>
  import mediumZoom from "medium-zoom/dist/pure";
  import "medium-zoom/dist/style.css";

  const zoom = mediumZoom(".prose img", {
    margin: 24,
    background: "rgba(0, 0, 0, 0.2)",
    scrollOffset: 0,
  });

  document.addEventListener("astro:after-swap", () => {
    zoom.attach(".prose img");
  });
</script>
